.top_bar {
    background-image: url("bl_red_cyan.png");
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 10px;
}
.logo {
    width: 300px;
    height: 70px;
}

.community_tile {
    background: url("container_side.png");
    color: #00f5f5;
    border-radius: 10px;
}
.description {
    font-size: 15px;

}
body {
    text-align: center;
    background-image: url("background_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 26px;
    color: #050525;
}

button {
    background-color: rgb(74, 194, 189);
    border-radius: 10px;
    font-size: 26px;
}
button:hover {
    background-image: url("buttonhover.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.form_style {
}