.top_bar {
    background-image: url("bl_red_cyan.png");
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 10px;
}
.logo {
    width: 300px;
    height: 70px;
}

.community_tile {
    background: url("container_side.png");
    color: rgba(14, 110, 222, 0.63);
    border-radius: 10px;
}
.description {
    font-size: 25px;

}
body {
    background-image: url("background_2.png");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 26px;
    color: #050525;
}

button {
    background-color: rgb(10, 243, 43);
    border-radius: 10px;
    font-size: 26px;
}
button:hover {
    background-image: url("buttonhover.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.post_tile {
    text-align: left;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    background-color: rgba(93, 23, 10, 0.76);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.comment{
    text-align: left;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    background-color: rgba(42, 62, 147, 0.76);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}


.profile_picture {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border-color: #bb1818;
}