{% extends 'base.html' %}
{% block content %}
        {{ community.description }} <br>
    {% if community.user_creator != user and joined == "false" %}
       <a href="{% url 'join_comm' community.id%}"><button>Join community</button></a>
        {% endif %}
    <a href="{% url 'add_post_view' community.id%}"><button>post new post</button></a><br>
    {% for post in posts %}
         <div class="post_tile">
        {% if community.user_creator == user %}
             <div><a href="{% url 'delete_post' post.id%}"><button>DELETE POST</button></a></div>
    {% endif %}
          {% for pic in Profile_CTX %}
                {% if pic.user == post.user_creator %}
                    <img class="profile_picture_smaller" src="../../{{ pic.image }}">
                {% endif %}
            {% endfor %}
        <a href="{% url "post_detail" post.id%}">
    {{ post.user_creator }}<br>
    {{ post.created_at|date:"d.m.Y | G:i"}}<br>
        <h1>{{ post.title }}</h1><br>
     {% if post.user_creator == user %}
        <div><a href="{% url 'update_post' post.id%}"><button>EDIT POST</button></a></div>
    {% endif %}

        <div class="text">{{ post.body }}</div><br>
        </a>
    </div>
        
    {% endfor %}

{% endblock %}