{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
           {% for u in users %}
            {% for pic in Profile_CTX %}
                {% if pic.user == u %}
                    <a {% if to_user == u  %} style="background-color: #2b9b0d "{% endif %} href="{% url 'messages' u.id%}#bottom" style="text-align: left" ><img  class="profile_picture_smaller" src="../../{{ pic.image }}">
                {% endif %}
        
            {% endfor %}
               {{ u.username }}
                </a>
            {% endfor %}
         <a style="text-align: left" ><img  class="profile_picture_smaller" src="../../social_news/files/profiles/default.png">
        </div>

        <!-- Main Content -->
        <div class="content">
            <div>
                 <a style="text-align: left" ><img  class="profile_picture_smaller" src="../../{{ to_user_profile.image }}"><br>
                 {{ to_user.username }}<br>
               {% for message in messages %}
                   {% if message.to_user == user %}
                     <div class="message_left"><span>{{ message.body }}</span></div><br>
                      {% else %}
                       <div class="message_right"><span>{{ message.body }}</span></div><br>
                   {% endif %}
                   
                     {% endfor %}
                <form method="post" action="{% url 'messages' to_user.id%}#bottom" style="background: #24501a ">
                    {% csrf_token %}
                    <input type="text" id="bottom" name="message" placeholder="message" required="">
                    <input  type="submit" value="send">
                    
                </form>
                     
            </div>
    </div>
    
{% endblock %}django_content_type