{% extends 'base.html' %}
{% block content %}
            <div class="post_tile">

         {% for pic in Profile_CTX %}
                {% if pic.user == post.user_creator %}
                    <img class="profile_picture_smaller" src="../../{{ pic.image }}">
                {% endif %}
            {% endfor %}
    {{ post.user_creator }}<br>
    {{ post.created_at }}<br>
        <h1>{{ post.title }}</h1><br>
            {% if post.user_creator == user %}
        <div><a href="{% url 'update_post' post.id%}"><button>EDIT POST</button></a></div>
    {% endif %}
        </div>
    
    <div class="text">{{ post.body }}</div>
    
    {% for comment in comments %}
        <div class="comment">
        
        {% for pic in Profile_CTX %}
                {% if pic.user == comment.user_creator %}
                    <img class="profile_picture_smaller" src="../../{{ pic.image }}">
                {% endif %}
            {% endfor %}
        {{ comment.user_creator }}
        {{ comment.created_at }}<br>

            <div class="text">{{ comment.body }}</div>
        </div>
    {% endfor %}
    
    <form method="post">
    {% csrf_token %}
        <input type="text" name="comment" placeholder="write comment" required>
        <input type="submit">
    
    </form>
{% endblock %}