{% extends 'base.html' %}
{% block content %}
        <h1>{{ post.title }}</h1>
     {{ post.user_creator }}<br>
    {{ post.created_at }}<br>
    {{ post.body }}
    
    {% for comment in comments %}
        <div class="comment">
        <img class="profile_picture" src="{{ Profile_ctx.image }}">
        {{ comment.user_creator }}
        {{ comment.created_at }}<br>
        {{ comment.body }}
        </div>
    {% endfor %}
    
    <form method="post">
    {% csrf_token %}
        <input type="text" name="comment" placeholder="write comment" required>
        <input type="submit">
    
    </form>
{% endblock %}