{% extends 'base.html' %}
{% block content %}
    
    <form method="post">
         {% csrf_token %}
  <input type="text" placeholder="Search.." name="search">
      <button type="submit">search</button>
 </form>
    
    <div class="background_tile"> 
     {{ message }}
        {% for community in communities %}
    <div class="community_tile">
    <a href="{% url 'community_detail_view' community.id%}">
   
        
            <p>{{ community.name }}</p>
            <p class="description">{{ community.description }}</p>
        
    </div>
    </a>
     {% endfor %}
    </div>
{% endblock %}