{% extends 'base.html' %}
{% block content %}
    <div class="sidebar">
           {% for u in users %}
            {% for pic in Profile_CTX %}
                {% if pic.user == u %}
                    <a href="{% url 'messages' u.id%}" style="text-align: left" ><img  class="profile_picture_smaller" src="../../{{ pic.image }}">
                {% endif %}
                
            {% endfor %}
               {{ u.username }}
                </a>
            {% endfor %}
        </div>
    <form method="post">
         {% csrf_token %}
  <input type="text" placeholder="Search.." name="search">
      <button type="submit">search</button>
 </form>
    
    <div class="background_tile"> 
     {{ message }}
        {% for community in communities %}
    <div class="community_tile">
    <a href="{% url 'community_detail_view' community.id%}">
   
        
            <p>{{ community.name }}</p>
            <p class="description">{{ community.description }}</p>
        
    </div>
    </a>
     {% endfor %}
    </div>
{% endblock %}